﻿@import "../Utils/_mixins.scss";
@import "../Utils/_variables.scss";
@import "../Layout/_breakpoints.scss";

#footer {
    background: $primary;
    color: $secondary-color;
}

footer a {
    color: #8d8d8d;
    @include transition();
}

footer a:hover {
    color: $secondary-color;
}

#copyright {
    padding: 10px 0;
    @include fontSize(1.4em,1.5);
}

.legal-nav li {
    margin-right: 10px;
}

footer .phone-number a {
    @include fontSize(2em,1);
    display: block;
    margin: 0 0 10px 0;
}

footer .phone-number small {
    color: white;
    @include fontSize(1em,1.4);
}

footer address {
    color: white;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style-type: none;
}

.footer-title {
    margin-bottom: 10px;
}

.copyright {
    color: #8d8d8d;
    //@include fontSize(1.4em,1.5);
}

.agency {
    @include fontSize(1.4em,1.5);
    margin-top: 12px
}

.footer-btm {
    border-top: 1px solid #333333;
    padding: 10px 0;
    margin-top: 30px;
}

footer .social-accounts li {
    display: block
}

footer .social-accounts li [class^="icon-"] {
    margin-right: 7px;
}


.company-info {
    color: #8d8d8d;
    @include fontSize(1.4em,1.5);
}

.company-info .footer-title {
    @include fontSize(1em,1.5);
}

.company-info .footer-title a {
    color: #FFF;
}

.company-info span {
    display: block;
    clear: both;
    font-size: 0.9em;
}

footer nav {
    height: auto;
}

@media(max-width: 768px) {

    .footer-links .row > div {
        display: block;
        width: 100%;
        border-bottom: 1px solid #333333;
        padding: 15px 0 10px 0;
    }

    .footer-links .row > div ul {
        max-height: 0;
        text-align: center;
        overflow: hidden;
        @include transition();
    }

    .footer-links .row > div li a {
        padding: 10px 5%;
        display: block;
        text-align: left;
    }

    .footer-links .row > div.active ul {
        max-height: 5000px;
    }

    .legal-nav li {
        display: block;
        width: 100%;
        text-align: center;
    }

    .agency {
        text-align: center;
        border-top: 1px solid #333333;
        padding: 15px 0 5px 0;
    }

    .company-info {
        border-bottom: 1px solid #333333;
        padding: 25px 5% 35px 5%;
        text-align: center;
    }

    .legal-nav {
        color: #8d8d8d;
        @include fontSize(1em,1.3);
        padding: 10px 0;
    }

    .footer-btm {
        border-top: none;
        margin-top: 0;
    }

    .legal-nav a {
        color: $secondary-color;
        padding: 10px 0;
        display: block;
    }

    .agency a {
        color: $secondary-color;
    }

    .footer-links .footer-title {
        padding: 0 5%;
        text-align: left;
        position: relative;
    }

    .footer-links .footer-title:after {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        content: "\e904";
        position: absolute;
        right: 5%;
        top: 7px;
        @include transition();
    }

    .footer-links .active .footer-title:after {
        transform: rotate(45deg);
    }
}

@include mq(md) {
    .footer-links .row > div {
        margin: 0 50px 0 0;
    }
}

@include mq(sm) {
    .footer-links .row > div {
        margin: 0 30px 0 0;
    }
}

