header {
    position: absolute;
    z-index: 2;
    width: 100%;
}

header .logo {
    float: left;
    display: block;
    width: 220px;

}

header .btn {
    float: right;
    display: none;
    
    @media(min-width: 767px){
        display: block;
    }
}