﻿@import "../Layout/_breakpoints.scss";
@import "../Utils/_mixins.scss";
@import "../Utils/_variables.scss";
@import "../Layout/_breakpoints.scss";

body {
    font-size: 62.5%;
    line-height: 1;
    position: relative;
    @include transition();
    right: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

main {
    overflow: hidden;
    margin: 0!important;
    display: flex;
    background: $green;
    color: $white;
}

section {
    padding: 0;
}

section.no-pad {
    padding: 0;
}

picture,
img {
    display: block;
}

picture img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $white;
}

ul,
ol {
    @include paragraphSize();
}

img {
    max-width: 100%;
}

.social-accounts {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-accounts li {
    display: inline-block;
}


address {
    font-style: normal;
    @include paragraphSize();
    margin: 40px 0;
}
address span {
    display: block;
}
address span[itemprop]:after,
address span[itemprop] span:after {
    content: ",";
}
address span[itemprop]:last-of-type:after,
address span[itemprop="streetAddress"]:after {
    content: "";
}


.phone-number > span {
    font-size: 1.5em;
}
.phone-number small {
    display: block;
}

button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    cursor: pointer;
}



.common-faqs {
    padding: 50px 0;
    background: #edeef1;
}

input[type="text"],
input[type="search"] {
    padding: 9px;
    outline: none;
}

blockquote {
    margin: 40px 0;
    padding: 40px;
    background: $grey;
}

blockquote q {
    @include mediumHeading();
}
blockquote cite {
    @include paragraphSize();
    display: block;
    overflow: hidden;
    font-style: normal;
    margin: 20px 0 0 0;
}
blockquote cite span {
    display: block;
    float: left;
}
blockquote cite span:last-of-type:before {
    content: ", ";
}

blockquote .photo {
    width: 50px;
    border-radius: 50%;
    float: left;
    margin: 0 20px 0 0;
}


.latest-news {
    padding: 50px 0;
}


.profile {
    margin-bottom: 30px;
}
.profile .name {
    display: block;
    margin: 10px 0 0 0;
    font-size: 1.2em;
}


.typeahead {
    display: none;
    padding: 5px 0;
    border: 1px solid #e4e6ea;
    border-top-width: 0;
    background: #fff;
}
.typeahead li {
    display: block;
}
.typeahead a {
    display: block;
    padding: 10px 15px;
    color: #000;
}
.typeahead p {
    margin-bottom: 0;
}


.testimonial-listing blockquote {
    margin-bottom: 50px;
}


.upcoming-events {
    padding: 50px 0;
    background: #f5f6f9;
}

.awards {
    padding: 50px 0;
    background: #f5f6f9;
}


.card .date {
    display: block;
    font-weight: bold;
    margin: 20px 0;
}

.card a {
    display: block;
}

.card .image {
    margin-bottom: 20px;
}


#banner > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightgrey-bg {
    background: $grey;
}


.slick-slide blockquote {
    margin: 0;
}

.slick-arrow {
    position: absolute;
    font-size: 0;
    top: 50%;
    z-index: 2;
    width: 20px;
    height: 20px;
    background: black
}

.slick-next {
    right: -2%;
}

.slick-next:before {
    content: "";
    border-top: 1.5em solid currentColor;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    background: white;
}

.slick-prev {
    left: -2%
}

.slick-prev:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
}


.slick-next:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
}


.slick-dots {
    text-align: center;
}

.slick-dots button {
    font-size: 0;
    width: 15px;
    border-radius: 200px;
    height: 15px;
    padding: 0;
}

.slick-dots li {
    display: inline-block;
    padding: 0 7px;
}

.slick-dots li.slick-active button {
    background: black
}

.pagination {
    text-align: center;
    margin: 80px 0 20px 0;
}

.pagingation li a,
.pagingation li span {
    padding: 10px;
}

.white-copy h1,
.white-copy h2,
.white-copy h3,
.white-copy p {
    color: #fff;
}

.overlay {
    position: absolute;
    background: $overlay;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include transition();
}

