﻿@import "../Utils/_mixins.scss";
@import "../Utils/_variables.scss";
@import "../Layout/_breakpoints.scss";

button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

.btn,
.btn-secondary,
button {
    display: inline-block;
    min-width: 120px;
    max-width: 100%;
    padding: 10px 20px;
    background: $yellow;
    color: $dark-grey;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    @include transition();
    @include paragraphSize();
    transform: scale(1);
}

.btn:hover {
    background: $white;
    transform: scale(1.02);
}

.btn-secondary {
    background: none;
    color: $white;
    border: 1px solid $white;
}

.btn-secondary:hover {
    background: $yellow;
    color: $dark-grey;
    border: 1px solid $yellow;
}

.text-link {
    font-weight: bold;
    @include paragraphSize();
}

@include mq(md) {
    .btn,
    .btn-secondary,
    button {
        min-width: 200px;
    }
}
