﻿@font-face {
    font-family: 'icomoon';
    src: url('/Fonts/icomoon.eot?n0andj');
    src: url('/Fonts/icomoon.eot?n0andj#iefix') format('embedded-opentype'), url('/Fonts/icomoon.woff2?n0andj') format('woff2'), url('/Fonts/icomoon.ttf?n0andj') format('truetype'), url('/Fonts/icomoon.woff?n0andj') format('woff'), url('/Fonts/icomoon.svg?n0andj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
    content: "\e900";
}

.icon-facebook:before {
    content: "\e901";
}

.icon-menu:before {
    content: "\e902";
}

.icon-linkedin:before {
    content: "\e903";
}

.icon-plus:before {
    content: "\e904";
}
