﻿[class^="ratio-"],
[class*=" ratio-"] {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background: $placeholder;
}

[class^="ratio-"]:before,
[class*=" ratio-"]:before {
    display: block;
    content: "";
}

[class^="ratio-"] > div,
[class*=" ratio-"] > div,
[class^="ratio-"] > picture,
[class*=" ratio-"] > picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Aspect ratios */
.ratio-16by9:before {
    padding-top: percentage(9 / 16);
}

.ratio-3by2:before {
    padding-top: percentage(2 / 3);
}

.ratio-3by1:before {
    padding-top: percentage(1 / 3);
}

.ratio-1by1:before {
    padding-top: 100%;
}

.ratio-5by2:before {
    padding-top: percentage(2 / 5);
}

.ratio-5by4:before {
    padding-top: percentage(4 / 5);
}


@media (min-width: 576px) {
    .ratio-sm-16by9:before {
        padding-top: percentage(9 / 16);
    }

    .ratio-sm-3by2:before {
        padding-top: percentage(2 / 3);
    }

    .ratio-sm-3by1:before {
        padding-top: percentage(1 / 3);
    }

    .ratio-sm-1by1:before {
        padding-top: 100%;
    }
}

@media (min-width: 768px) {
    .ratio-md-16by9:before {
        padding-top: percentage(9 / 16);
    }

    .ratio-md-3by2:before {
        padding-top: percentage(2 / 3);
    }

    .ratio-md-3by1:before {
        padding-top: percentage(1 / 3);
    }

    .ratio-md-1by1:before {
        padding-top: 100%;
    }

    .ratio-md-2by3:before {
        padding-top: percentage(3 / 2);
    }

}

@media (min-width: 992px) {
    .ratio-lg-16by9:before {
        padding-top: percentage(9 / 16);
    }

    .ratio-lg-3by2:before {
        padding-top: percentage(2 / 3);
    }

    .ratio-lg-3by1:before {
        padding-top: percentage(1 / 3);
    }

    .ratio-lg-1by1:before {
        padding-top: 100%;
    }

    .ratio-lg-5by4:before {
        padding-top: percentage(4 / 5);
    }

}

@media (min-width: 1200px) {
    .ratio-xl-16by9:before {
        padding-top: percentage(9 / 16);
    }

    .ratio-xl-3by2:before {
        padding-top: percentage(2 / 3);
    }

    .ratio-xl-3by1:before {
        padding-top: percentage(1 / 3);
    }

    .ratio-xl-1by1:before {
        padding-top: 100%;
    }

    .ratio-xl-1by2:before {
        padding-top: percentage(2 / 1);
    }

    .ratio-xl-5by2:before {
        padding-top: percentage(2 / 5);
    }
}