h1,
h2,
h3,
h4,
h5 {
    float: none;
    line-height: 1.4;
    clear: both;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 10px 0;
}

h1,
.title.x-large {
    @include largeHeading();
    margin-top: 0;
}

h2,
h3,
title.large,
h4,
h5,
.title {
    @include mediumHeading();
}

h2 a,
h3 a,
h4 a,
h5 a {
    color: inherit;
}

p {
    margin: 0 0 30px 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    @include paragraphSize();
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important;
    }

    .text-sm-right {
        text-align: right !important;
    }

    .text-sm-center {
        text-align: center !important;
    }
}

@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important;
    }

    .text-md-right {
        text-align: right !important;
    }

    .text-md-center {
        text-align: center !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left !important;
    }

    .text-lg-right {
        text-align: right !important;
    }

    .text-lg-center {
        text-align: center !important;
    }
}

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left !important;
    }

    .text-xl-right {
        text-align: right !important;
    }

    .text-xl-center {
        text-align: center !important;
    }
}