﻿/* ----- COLOURS ----- */

$placeholder: rgba(140,144,163,.25);
$overlay: rgba(0,0,0,.75);
$grey: #eeeeee;
$black: #000000;

/* ----- FONT SIZES ----- */

@mixin paragraphSize() {
    @include fontSize(1.6em, 1.8);
}

@mixin largeHeading() {
    @include fontSize(3.8em, 1.1);

    @media(min-width: 767px){
        @include fontSize(6em, 1.1);
    }
}

@mixin mediumHeading() {
    @include fontSize(3.4em, 1.2);

    @media(min-width: 767px){
        @include fontSize(6em, 1.2);
    }
}

@mixin smallHeading() {
    @include fontSize(3em, 1.4);

    @media(min-width: 767px){
        @include fontSize(6em, 1.4);
    }    
}

