.logos {
    background: #AAB6C2;
    color: #3F3F3F;
    padding: 10px 0;
}

.logos img {
    height: 55px;
    display: block;
    @media(min-width: 767px){
        height: 60px;
        display: inline-block;
        margin-top: 10px;
    }
}

.logos ul {
    display: block;
    padding-left: 0;
    
    @media (min-width: 1500px) {
        padding-left: 15px;
        font-size: 1.6em;
        display: inline-block;
    }
}

.logos li {
    list-style-type: none;
    line-height: 1.6;

    a {
        color: $black;
    }
}



.logos .container-fluid {
    padding: 0 10%;

    @media (min-width: 1024px) {
        padding: 0 5%;
    }

    @media (min-width: 767px) {
        padding: 0 10%;
    }
}

#content {
    display: flex;
    flex-direction: column;
}

#content h1 {
    @media(min-width: 767px){
        margin-top: 55px;
    }
}

#content .inner {
    align-content: center;
    flex: 0 0 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 60px 10%;
    
    @media(min-width: 767px){
        padding: 0 10%;
    }
}

#content .inner:after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    width: 30%;
    height: 100%;
    opacity: 0.18;
    background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0),
                                                rgba(255, 255, 255, 0.2) 5px,
                                                rgba(255, 255, 255, 0.2) 2px,
                                                rgba(255, 255, 255, 0.2) 0px);
}

form > div {
    position: relative;
}

form input[type=text],
form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    background: none;
    font-size: 16px;
    position: relative;
    z-index: 2;
    padding: 9px 0;
    color: $white;
}

/*
form .col-md-6 input[type=text] {
    width: 90%;
}
*/

form input + label,
form textarea + label {
    position: absolute;
    top: 15px;
    left: 15px;
    @include paragraphSize();
    color: white;
    @include transition();
}


form input:focus + label,
form input.active + label,
form textarea:focus + label,
form textarea.active + label {
    top: 0;
    font-size: 1.2em;
    color: $yellow;
}

form input[type="text"],
form textarea {
    margin-top: 15px;
}

form button svg {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}

form button.loading svg {
    opacity: 1;
    visibility: visible;
}

form button.loading {
    padding-right: 50px;
}

#form-messages {
    color: #FFF;
    margin: 20px 0;
    background: #28363b;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    font-size: 1.6em;
}

#form-messages.failure,
#form-messages.success {
    max-height: 1000px;
}

#form-messages.failure {
    border: 1px solid red;
}

#form-messages.success {
    border: 1px solid green;
}

#form-messages .inner {
    padding: 1rem;
}

@media screen and (max-height: 800px) and (min-width: 767px) {
    #content .inner {
        padding: 160px 10% 80px 10%;
        display: block;
    }

    #content {
        display: block;
    }

    main {
        min-height: 800px;
    }

    #gallery .dim,
    #gallery-iw,
    #gallery-mw,
    .tns-outer,
    #gallery {
        height: 100%;
    }
}
