﻿#gallery {
    position: relative;
    text-align: left;
    height: auto;
    min-height: 300px;
    display: block;
    background: #324248;
    
    @media(min-width: 767px){
        height: 100vh;
        min-height: 0;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}


#gallery .tns-item {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#gallery .tns-slide-active.tns-item:before {
    @media(min-width: 767px) {
        content: "";
        position: absolute;
        bottom: -24%;
        left: -37%;
        width: 133%;
        height: 50%;
        display: block;
        background-size: cover;
        z-index: 1;
        @include transition(0.65s all ease);
        transform: rotate(35deg) scale(1.1);
        background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.2) 4px, rgba(0, 0, 0, 0.2) 8px);
    }
}

#gallery .tns-item:before {
    transform: rotate(35deg) scale(1);
}

#gallery img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    @media(max-width: 767px){
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        transform: none;
    }
}

#gallery .dim {
    position: relative;
    width: 100%;
    @include transition(1s all ease);
    @include transform(scale(1));
    @media(min-width: 767px){
        height: 100vh;
    }
}

#gallery .tns-slide-active .dim {
    @include transform(scale(1))
}

#gallery .slide-caption h4 {
    left: 30px;
    position: relative;
    opacity: 0;
    @include transition(0.3s all ease);
    transition-delay: 0.2s;

    span {
        font-size: 0.5em;
        display: block;
        margin-top: 10px;
    }
}

#gallery .tns-slide-active .slide-caption h4 {
    left: 0;
    opacity: 1;
}

#gallery .slide-caption p {
    left: 30px;
    opacity: 0;
    position: relative;
    @include transition(0.3s all ease);
    transition-delay: 0.4s;
}

#gallery .tns-slide-active .slide-caption p {
    left: 0;
    opacity: 1;
}

#gallery .dim:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 5;
    @media(max-width: 767px){
        content: "";
        position: relative;
        display: block;
        padding-bottom: 100%;
    }
}

#gallery .slide-caption {
    position: relative;
    bottom: 0;
    left: 0; 
    width: 100%;
    z-index: 6;
    padding: 40px 10% 60px 10%;
    background: #324248;

    @media(min-width: 767px){
        position: absolute;
        bottom: 2%;
        left: 5%; 
        width: 85%;
        z-index: 6;
        max-width: 650px;
        padding: 0;
        background: none;
    }

    @media(min-width: 990px){
        width: 60%;
    }
}

.tns-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
    display: none;

    button {
        background: black;
        width: 10px;
        height: 10px;
        display: block;

        &[data-controls="prev"] {
            left: 0;
        }

        &[data-controls="next"] {
            left: 0;
        }
    }
}

#gallery .no-text.tns-item:before {
    display: none;
}


.tns-outer button[data-action="stop"],
.tns-outer button[data-action="start"] {
    display: none;
}

.tns-nav {
    position: absolute;
    top: 53%;
    float: right;
    z-index: 10;
    left: 9%;
    
    @media(min-width: 767px){
        right: 30px;
        left: auto;
        bottom: 5%;
        top: auto;
    }
}

.tns-nav button {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid $white;
    border-radius: 100px;
    margin: 0 7px;
    min-width: 10px;
}

.tns-nav button.tns-nav-active {
    background: $white;
}




