/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ----- COLOURS ----- */
/* ----- FONT SIZES ----- */
.xs-p-0 {
  padding: 0px;
}

.xs-p-5 {
  padding: 5px;
}

.xs-p-10 {
  padding: 10px;
}

.xs-p-15 {
  padding: 15px;
}

.xs-p-20 {
  padding: 20px;
}

.xs-p-30 {
  padding: 30px;
}

.xs-p-40 {
  padding: 40px;
}

.xs-p-50 {
  padding: 50px;
}

.xs-pt-0 {
  padding-top: 0px;
}

.xs-pt-5 {
  padding-top: 5px;
}

.xs-pt-10 {
  padding-top: 10px;
}

.xs-pt-15 {
  padding-top: 15px;
}

.xs-pt-20 {
  padding-top: 20px;
}

.xs-pt-30 {
  padding-top: 30px;
}

.xs-pt-40 {
  padding-top: 40px;
}

.xs-pt-50 {
  padding-top: 50px;
}

.xs-pr-0 {
  padding-right: 0px;
}

.xs-pr-5 {
  padding-right: 5px;
}

.xs-pr-10 {
  padding-right: 10px;
}

.xs-pr-15 {
  padding-right: 15px;
}

.xs-pr-20 {
  padding-right: 20px;
}

.xs-pr-30 {
  padding-right: 30px;
}

.xs-pr-40 {
  padding-right: 40px;
}

.xs-pr-50 {
  padding-right: 50px;
}

.xs-pb-0 {
  padding-bottom: 0px;
}

.xs-pb-5 {
  padding-bottom: 5px;
}

.xs-pb-10 {
  padding-bottom: 10px;
}

.xs-pb-15 {
  padding-bottom: 15px;
}

.xs-pb-20 {
  padding-bottom: 20px;
}

.xs-pb-30 {
  padding-bottom: 30px;
}

.xs-pb-40 {
  padding-bottom: 40px;
}

.xs-pb-50 {
  padding-bottom: 50px;
}

.xs-pl-0 {
  padding-left: 0px;
}

.xs-pl-5 {
  padding-left: 5px;
}

.xs-pl-10 {
  padding-left: 10px;
}

.xs-pl-15 {
  padding-left: 15px;
}

.xs-pl-20 {
  padding-left: 20px;
}

.xs-pl-30 {
  padding-left: 30px;
}

.xs-pl-40 {
  padding-left: 40px;
}

.xs-pl-50 {
  padding-left: 50px;
}

.xs-m-0 {
  margin: 0px;
}

.xs-m-5 {
  margin: 5px;
}

.xs-m-10 {
  margin: 10px;
}

.xs-m-15 {
  margin: 15px;
}

.xs-m-20 {
  margin: 20px;
}

.xs-m-30 {
  margin: 30px;
}

.xs-m-40 {
  margin: 40px;
}

.xs-m-50 {
  margin: 50px;
}

.xs-mt-0 {
  margin-top: 0px;
}

.xs-mt-5 {
  margin-top: 5px;
}

.xs-mt-10 {
  margin-top: 10px;
}

.xs-mt-15 {
  margin-top: 15px;
}

.xs-mt-20 {
  margin-top: 20px;
}

.xs-mt-30 {
  margin-top: 30px;
}

.xs-mt-40 {
  margin-top: 40px;
}

.xs-mt-50 {
  margin-top: 50px;
}

.xs-mr-0 {
  margin-right: 0px;
}

.xs-mr-5 {
  margin-right: 5px;
}

.xs-mr-10 {
  margin-right: 10px;
}

.xs-mr-15 {
  margin-right: 15px;
}

.xs-mr-20 {
  margin-right: 20px;
}

.xs-mr-30 {
  margin-right: 30px;
}

.xs-mr-40 {
  margin-right: 40px;
}

.xs-mr-50 {
  margin-right: 50px;
}

.xs-mb-0 {
  margin-bottom: 0px;
}

.xs-mb-5 {
  margin-bottom: 5px;
}

.xs-mb-10 {
  margin-bottom: 10px;
}

.xs-mb-15 {
  margin-bottom: 15px;
}

.xs-mb-20 {
  margin-bottom: 20px;
}

.xs-mb-30 {
  margin-bottom: 30px;
}

.xs-mb-40 {
  margin-bottom: 40px;
}

.xs-mb-50 {
  margin-bottom: 50px;
}

.xs-ml-0 {
  margin-left: 0px;
}

.xs-ml-5 {
  margin-left: 5px;
}

.xs-ml-10 {
  margin-left: 10px;
}

.xs-ml-15 {
  margin-left: 15px;
}

.xs-ml-20 {
  margin-left: 20px;
}

.xs-ml-30 {
  margin-left: 30px;
}

.xs-ml-40 {
  margin-left: 40px;
}

.xs-ml-50 {
  margin-left: 50px;
}

@media screen and (min-width: 480px) {
  .sm-p-0 {
    padding: 0px;
  }
  .sm-p-5 {
    padding: 5px;
  }
  .sm-p-10 {
    padding: 10px;
  }
  .sm-p-15 {
    padding: 15px;
  }
  .sm-p-20 {
    padding: 20px;
  }
  .sm-p-30 {
    padding: 30px;
  }
  .sm-p-40 {
    padding: 40px;
  }
  .sm-p-50 {
    padding: 50px;
  }
  .sm-pt-0 {
    padding-top: 0px;
  }
  .sm-pt-5 {
    padding-top: 5px;
  }
  .sm-pt-10 {
    padding-top: 10px;
  }
  .sm-pt-15 {
    padding-top: 15px;
  }
  .sm-pt-20 {
    padding-top: 20px;
  }
  .sm-pt-30 {
    padding-top: 30px;
  }
  .sm-pt-40 {
    padding-top: 40px;
  }
  .sm-pt-50 {
    padding-top: 50px;
  }
  .sm-pr-0 {
    padding-right: 0px;
  }
  .sm-pr-5 {
    padding-right: 5px;
  }
  .sm-pr-10 {
    padding-right: 10px;
  }
  .sm-pr-15 {
    padding-right: 15px;
  }
  .sm-pr-20 {
    padding-right: 20px;
  }
  .sm-pr-30 {
    padding-right: 30px;
  }
  .sm-pr-40 {
    padding-right: 40px;
  }
  .sm-pr-50 {
    padding-right: 50px;
  }
  .sm-pb-0 {
    padding-bottom: 0px;
  }
  .sm-pb-5 {
    padding-bottom: 5px;
  }
  .sm-pb-10 {
    padding-bottom: 10px;
  }
  .sm-pb-15 {
    padding-bottom: 15px;
  }
  .sm-pb-20 {
    padding-bottom: 20px;
  }
  .sm-pb-30 {
    padding-bottom: 30px;
  }
  .sm-pb-40 {
    padding-bottom: 40px;
  }
  .sm-pb-50 {
    padding-bottom: 50px;
  }
  .sm-pl-0 {
    padding-left: 0px;
  }
  .sm-pl-5 {
    padding-left: 5px;
  }
  .sm-pl-10 {
    padding-left: 10px;
  }
  .sm-pl-15 {
    padding-left: 15px;
  }
  .sm-pl-20 {
    padding-left: 20px;
  }
  .sm-pl-30 {
    padding-left: 30px;
  }
  .sm-pl-40 {
    padding-left: 40px;
  }
  .sm-pl-50 {
    padding-left: 50px;
  }
  .sm-m-0 {
    margin: 0px;
  }
  .sm-m-5 {
    margin: 5px;
  }
  .sm-m-10 {
    margin: 10px;
  }
  .sm-m-15 {
    margin: 15px;
  }
  .sm-m-20 {
    margin: 20px;
  }
  .sm-m-30 {
    margin: 30px;
  }
  .sm-m-40 {
    margin: 40px;
  }
  .sm-m-50 {
    margin: 50px;
  }
  .sm-mt-0 {
    margin-top: 0px;
  }
  .sm-mt-5 {
    margin-top: 5px;
  }
  .sm-mt-10 {
    margin-top: 10px;
  }
  .sm-mt-15 {
    margin-top: 15px;
  }
  .sm-mt-20 {
    margin-top: 20px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mt-40 {
    margin-top: 40px;
  }
  .sm-mt-50 {
    margin-top: 50px;
  }
  .sm-mr-0 {
    margin-right: 0px;
  }
  .sm-mr-5 {
    margin-right: 5px;
  }
  .sm-mr-10 {
    margin-right: 10px;
  }
  .sm-mr-15 {
    margin-right: 15px;
  }
  .sm-mr-20 {
    margin-right: 20px;
  }
  .sm-mr-30 {
    margin-right: 30px;
  }
  .sm-mr-40 {
    margin-right: 40px;
  }
  .sm-mr-50 {
    margin-right: 50px;
  }
  .sm-mb-0 {
    margin-bottom: 0px;
  }
  .sm-mb-5 {
    margin-bottom: 5px;
  }
  .sm-mb-10 {
    margin-bottom: 10px;
  }
  .sm-mb-15 {
    margin-bottom: 15px;
  }
  .sm-mb-20 {
    margin-bottom: 20px;
  }
  .sm-mb-30 {
    margin-bottom: 30px;
  }
  .sm-mb-40 {
    margin-bottom: 40px;
  }
  .sm-mb-50 {
    margin-bottom: 50px;
  }
  .sm-ml-0 {
    margin-left: 0px;
  }
  .sm-ml-5 {
    margin-left: 5px;
  }
  .sm-ml-10 {
    margin-left: 10px;
  }
  .sm-ml-15 {
    margin-left: 15px;
  }
  .sm-ml-20 {
    margin-left: 20px;
  }
  .sm-ml-30 {
    margin-left: 30px;
  }
  .sm-ml-40 {
    margin-left: 40px;
  }
  .sm-ml-50 {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .md-p-0 {
    padding: 0px;
  }
  .md-p-5 {
    padding: 5px;
  }
  .md-p-10 {
    padding: 10px;
  }
  .md-p-15 {
    padding: 15px;
  }
  .md-p-20 {
    padding: 20px;
  }
  .md-p-30 {
    padding: 30px;
  }
  .md-p-40 {
    padding: 40px;
  }
  .md-p-50 {
    padding: 50px;
  }
  .md-pt-0 {
    padding-top: 0px;
  }
  .md-pt-5 {
    padding-top: 5px;
  }
  .md-pt-10 {
    padding-top: 10px;
  }
  .md-pt-15 {
    padding-top: 15px;
  }
  .md-pt-20 {
    padding-top: 20px;
  }
  .md-pt-30 {
    padding-top: 30px;
  }
  .md-pt-40 {
    padding-top: 40px;
  }
  .md-pt-50 {
    padding-top: 50px;
  }
  .md-pr-0 {
    padding-right: 0px;
  }
  .md-pr-5 {
    padding-right: 5px;
  }
  .md-pr-10 {
    padding-right: 10px;
  }
  .md-pr-15 {
    padding-right: 15px;
  }
  .md-pr-20 {
    padding-right: 20px;
  }
  .md-pr-30 {
    padding-right: 30px;
  }
  .md-pr-40 {
    padding-right: 40px;
  }
  .md-pr-50 {
    padding-right: 50px;
  }
  .md-pb-0 {
    padding-bottom: 0px;
  }
  .md-pb-5 {
    padding-bottom: 5px;
  }
  .md-pb-10 {
    padding-bottom: 10px;
  }
  .md-pb-15 {
    padding-bottom: 15px;
  }
  .md-pb-20 {
    padding-bottom: 20px;
  }
  .md-pb-30 {
    padding-bottom: 30px;
  }
  .md-pb-40 {
    padding-bottom: 40px;
  }
  .md-pb-50 {
    padding-bottom: 50px;
  }
  .md-pl-0 {
    padding-left: 0px;
  }
  .md-pl-5 {
    padding-left: 5px;
  }
  .md-pl-10 {
    padding-left: 10px;
  }
  .md-pl-15 {
    padding-left: 15px;
  }
  .md-pl-20 {
    padding-left: 20px;
  }
  .md-pl-30 {
    padding-left: 30px;
  }
  .md-pl-40 {
    padding-left: 40px;
  }
  .md-pl-50 {
    padding-left: 50px;
  }
  .md-m-0 {
    margin: 0px;
  }
  .md-m-5 {
    margin: 5px;
  }
  .md-m-10 {
    margin: 10px;
  }
  .md-m-15 {
    margin: 15px;
  }
  .md-m-20 {
    margin: 20px;
  }
  .md-m-30 {
    margin: 30px;
  }
  .md-m-40 {
    margin: 40px;
  }
  .md-m-50 {
    margin: 50px;
  }
  .md-mt-0 {
    margin-top: 0px;
  }
  .md-mt-5 {
    margin-top: 5px;
  }
  .md-mt-10 {
    margin-top: 10px;
  }
  .md-mt-15 {
    margin-top: 15px;
  }
  .md-mt-20 {
    margin-top: 20px;
  }
  .md-mt-30 {
    margin-top: 30px;
  }
  .md-mt-40 {
    margin-top: 40px;
  }
  .md-mt-50 {
    margin-top: 50px;
  }
  .md-mr-0 {
    margin-right: 0px;
  }
  .md-mr-5 {
    margin-right: 5px;
  }
  .md-mr-10 {
    margin-right: 10px;
  }
  .md-mr-15 {
    margin-right: 15px;
  }
  .md-mr-20 {
    margin-right: 20px;
  }
  .md-mr-30 {
    margin-right: 30px;
  }
  .md-mr-40 {
    margin-right: 40px;
  }
  .md-mr-50 {
    margin-right: 50px;
  }
  .md-mb-0 {
    margin-bottom: 0px;
  }
  .md-mb-5 {
    margin-bottom: 5px;
  }
  .md-mb-10 {
    margin-bottom: 10px;
  }
  .md-mb-15 {
    margin-bottom: 15px;
  }
  .md-mb-20 {
    margin-bottom: 20px;
  }
  .md-mb-30 {
    margin-bottom: 30px;
  }
  .md-mb-40 {
    margin-bottom: 40px;
  }
  .md-mb-50 {
    margin-bottom: 50px;
  }
  .md-ml-0 {
    margin-left: 0px;
  }
  .md-ml-5 {
    margin-left: 5px;
  }
  .md-ml-10 {
    margin-left: 10px;
  }
  .md-ml-15 {
    margin-left: 15px;
  }
  .md-ml-20 {
    margin-left: 20px;
  }
  .md-ml-30 {
    margin-left: 30px;
  }
  .md-ml-40 {
    margin-left: 40px;
  }
  .md-ml-50 {
    margin-left: 50px;
  }
}

@media screen and (min-width: 960px) {
  .lg-p-0 {
    padding: 0px;
  }
  .lg-p-5 {
    padding: 5px;
  }
  .lg-p-10 {
    padding: 10px;
  }
  .lg-p-15 {
    padding: 15px;
  }
  .lg-p-20 {
    padding: 20px;
  }
  .lg-p-30 {
    padding: 30px;
  }
  .lg-p-40 {
    padding: 40px;
  }
  .lg-p-50 {
    padding: 50px;
  }
  .lg-pt-0 {
    padding-top: 0px;
  }
  .lg-pt-5 {
    padding-top: 5px;
  }
  .lg-pt-10 {
    padding-top: 10px;
  }
  .lg-pt-15 {
    padding-top: 15px;
  }
  .lg-pt-20 {
    padding-top: 20px;
  }
  .lg-pt-30 {
    padding-top: 30px;
  }
  .lg-pt-40 {
    padding-top: 40px;
  }
  .lg-pt-50 {
    padding-top: 50px;
  }
  .lg-pr-0 {
    padding-right: 0px;
  }
  .lg-pr-5 {
    padding-right: 5px;
  }
  .lg-pr-10 {
    padding-right: 10px;
  }
  .lg-pr-15 {
    padding-right: 15px;
  }
  .lg-pr-20 {
    padding-right: 20px;
  }
  .lg-pr-30 {
    padding-right: 30px;
  }
  .lg-pr-40 {
    padding-right: 40px;
  }
  .lg-pr-50 {
    padding-right: 50px;
  }
  .lg-pb-0 {
    padding-bottom: 0px;
  }
  .lg-pb-5 {
    padding-bottom: 5px;
  }
  .lg-pb-10 {
    padding-bottom: 10px;
  }
  .lg-pb-15 {
    padding-bottom: 15px;
  }
  .lg-pb-20 {
    padding-bottom: 20px;
  }
  .lg-pb-30 {
    padding-bottom: 30px;
  }
  .lg-pb-40 {
    padding-bottom: 40px;
  }
  .lg-pb-50 {
    padding-bottom: 50px;
  }
  .lg-pl-0 {
    padding-left: 0px;
  }
  .lg-pl-5 {
    padding-left: 5px;
  }
  .lg-pl-10 {
    padding-left: 10px;
  }
  .lg-pl-15 {
    padding-left: 15px;
  }
  .lg-pl-20 {
    padding-left: 20px;
  }
  .lg-pl-30 {
    padding-left: 30px;
  }
  .lg-pl-40 {
    padding-left: 40px;
  }
  .lg-pl-50 {
    padding-left: 50px;
  }
  .lg-m-0 {
    margin: 0px;
  }
  .lg-m-5 {
    margin: 5px;
  }
  .lg-m-10 {
    margin: 10px;
  }
  .lg-m-15 {
    margin: 15px;
  }
  .lg-m-20 {
    margin: 20px;
  }
  .lg-m-30 {
    margin: 30px;
  }
  .lg-m-40 {
    margin: 40px;
  }
  .lg-m-50 {
    margin: 50px;
  }
  .lg-mt-0 {
    margin-top: 0px;
  }
  .lg-mt-5 {
    margin-top: 5px;
  }
  .lg-mt-10 {
    margin-top: 10px;
  }
  .lg-mt-15 {
    margin-top: 15px;
  }
  .lg-mt-20 {
    margin-top: 20px;
  }
  .lg-mt-30 {
    margin-top: 30px;
  }
  .lg-mt-40 {
    margin-top: 40px;
  }
  .lg-mt-50 {
    margin-top: 50px;
  }
  .lg-mr-0 {
    margin-right: 0px;
  }
  .lg-mr-5 {
    margin-right: 5px;
  }
  .lg-mr-10 {
    margin-right: 10px;
  }
  .lg-mr-15 {
    margin-right: 15px;
  }
  .lg-mr-20 {
    margin-right: 20px;
  }
  .lg-mr-30 {
    margin-right: 30px;
  }
  .lg-mr-40 {
    margin-right: 40px;
  }
  .lg-mr-50 {
    margin-right: 50px;
  }
  .lg-mb-0 {
    margin-bottom: 0px;
  }
  .lg-mb-5 {
    margin-bottom: 5px;
  }
  .lg-mb-10 {
    margin-bottom: 10px;
  }
  .lg-mb-15 {
    margin-bottom: 15px;
  }
  .lg-mb-20 {
    margin-bottom: 20px;
  }
  .lg-mb-30 {
    margin-bottom: 30px;
  }
  .lg-mb-40 {
    margin-bottom: 40px;
  }
  .lg-mb-50 {
    margin-bottom: 50px;
  }
  .lg-ml-0 {
    margin-left: 0px;
  }
  .lg-ml-5 {
    margin-left: 5px;
  }
  .lg-ml-10 {
    margin-left: 10px;
  }
  .lg-ml-15 {
    margin-left: 15px;
  }
  .lg-ml-20 {
    margin-left: 20px;
  }
  .lg-ml-30 {
    margin-left: 30px;
  }
  .lg-ml-40 {
    margin-left: 40px;
  }
  .lg-ml-50 {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .xl-p-0 {
    padding: 0px;
  }
  .xl-p-5 {
    padding: 5px;
  }
  .xl-p-10 {
    padding: 10px;
  }
  .xl-p-15 {
    padding: 15px;
  }
  .xl-p-20 {
    padding: 20px;
  }
  .xl-p-30 {
    padding: 30px;
  }
  .xl-p-40 {
    padding: 40px;
  }
  .xl-p-50 {
    padding: 50px;
  }
  .xl-pt-0 {
    padding-top: 0px;
  }
  .xl-pt-5 {
    padding-top: 5px;
  }
  .xl-pt-10 {
    padding-top: 10px;
  }
  .xl-pt-15 {
    padding-top: 15px;
  }
  .xl-pt-20 {
    padding-top: 20px;
  }
  .xl-pt-30 {
    padding-top: 30px;
  }
  .xl-pt-40 {
    padding-top: 40px;
  }
  .xl-pt-50 {
    padding-top: 50px;
  }
  .xl-pr-0 {
    padding-right: 0px;
  }
  .xl-pr-5 {
    padding-right: 5px;
  }
  .xl-pr-10 {
    padding-right: 10px;
  }
  .xl-pr-15 {
    padding-right: 15px;
  }
  .xl-pr-20 {
    padding-right: 20px;
  }
  .xl-pr-30 {
    padding-right: 30px;
  }
  .xl-pr-40 {
    padding-right: 40px;
  }
  .xl-pr-50 {
    padding-right: 50px;
  }
  .xl-pb-0 {
    padding-bottom: 0px;
  }
  .xl-pb-5 {
    padding-bottom: 5px;
  }
  .xl-pb-10 {
    padding-bottom: 10px;
  }
  .xl-pb-15 {
    padding-bottom: 15px;
  }
  .xl-pb-20 {
    padding-bottom: 20px;
  }
  .xl-pb-30 {
    padding-bottom: 30px;
  }
  .xl-pb-40 {
    padding-bottom: 40px;
  }
  .xl-pb-50 {
    padding-bottom: 50px;
  }
  .xl-pl-0 {
    padding-left: 0px;
  }
  .xl-pl-5 {
    padding-left: 5px;
  }
  .xl-pl-10 {
    padding-left: 10px;
  }
  .xl-pl-15 {
    padding-left: 15px;
  }
  .xl-pl-20 {
    padding-left: 20px;
  }
  .xl-pl-30 {
    padding-left: 30px;
  }
  .xl-pl-40 {
    padding-left: 40px;
  }
  .xl-pl-50 {
    padding-left: 50px;
  }
  .xl-m-0 {
    margin: 0px;
  }
  .xl-m-5 {
    margin: 5px;
  }
  .xl-m-10 {
    margin: 10px;
  }
  .xl-m-15 {
    margin: 15px;
  }
  .xl-m-20 {
    margin: 20px;
  }
  .xl-m-30 {
    margin: 30px;
  }
  .xl-m-40 {
    margin: 40px;
  }
  .xl-m-50 {
    margin: 50px;
  }
  .xl-mt-0 {
    margin-top: 0px;
  }
  .xl-mt-5 {
    margin-top: 5px;
  }
  .xl-mt-10 {
    margin-top: 10px;
  }
  .xl-mt-15 {
    margin-top: 15px;
  }
  .xl-mt-20 {
    margin-top: 20px;
  }
  .xl-mt-30 {
    margin-top: 30px;
  }
  .xl-mt-40 {
    margin-top: 40px;
  }
  .xl-mt-50 {
    margin-top: 50px;
  }
  .xl-mr-0 {
    margin-right: 0px;
  }
  .xl-mr-5 {
    margin-right: 5px;
  }
  .xl-mr-10 {
    margin-right: 10px;
  }
  .xl-mr-15 {
    margin-right: 15px;
  }
  .xl-mr-20 {
    margin-right: 20px;
  }
  .xl-mr-30 {
    margin-right: 30px;
  }
  .xl-mr-40 {
    margin-right: 40px;
  }
  .xl-mr-50 {
    margin-right: 50px;
  }
  .xl-mb-0 {
    margin-bottom: 0px;
  }
  .xl-mb-5 {
    margin-bottom: 5px;
  }
  .xl-mb-10 {
    margin-bottom: 10px;
  }
  .xl-mb-15 {
    margin-bottom: 15px;
  }
  .xl-mb-20 {
    margin-bottom: 20px;
  }
  .xl-mb-30 {
    margin-bottom: 30px;
  }
  .xl-mb-40 {
    margin-bottom: 40px;
  }
  .xl-mb-50 {
    margin-bottom: 50px;
  }
  .xl-ml-0 {
    margin-left: 0px;
  }
  .xl-ml-5 {
    margin-left: 5px;
  }
  .xl-ml-10 {
    margin-left: 10px;
  }
  .xl-ml-15 {
    margin-left: 15px;
  }
  .xl-ml-20 {
    margin-left: 20px;
  }
  .xl-ml-30 {
    margin-left: 30px;
  }
  .xl-ml-40 {
    margin-left: 40px;
  }
  .xl-ml-50 {
    margin-left: 50px;
  }
}

/* ----- COLOURS ----- */
/* ----- FONT SIZES ----- */
button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

.btn,
.btn-secondary,
button {
  display: inline-block;
  min-width: 120px;
  max-width: 100%;
  padding: 10px 20px;
  background: #FFEA49;
  color: #3F3F3F;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  line-height: 1.8;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn:hover {
  background: #FFFFFF;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.btn-secondary {
  background: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.btn-secondary:hover {
  background: #FFEA49;
  color: #3F3F3F;
  border: 1px solid #FFEA49;
}

.text-link {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.8;
}

@media (min-width: 992px) {
  .btn,
  .btn-secondary,
  button {
    min-width: 200px;
  }
}

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.grid-section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-content {
  padding: 10%;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.pull-0 {
  right: auto;
}

.pull-1 {
  right: 8.333333%;
}

.pull-2 {
  right: 16.666667%;
}

.pull-3 {
  right: 25%;
}

.pull-4 {
  right: 33.333333%;
}

.pull-5 {
  right: 41.666667%;
}

.pull-6 {
  right: 50%;
}

.pull-7 {
  right: 58.333333%;
}

.pull-8 {
  right: 66.666667%;
}

.pull-9 {
  right: 75%;
}

.pull-10 {
  right: 83.333333%;
}

.pull-11 {
  right: 91.666667%;
}

.pull-12 {
  right: 100%;
}

.push-0 {
  left: auto;
}

.push-1 {
  left: 8.333333%;
}

.push-2 {
  left: 16.666667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.333333%;
}

.push-5 {
  left: 41.666667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.333333%;
}

.push-8 {
  left: 66.666667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.333333%;
}

.push-11 {
  left: 91.666667%;
}

.push-12 {
  left: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-sm-0 {
    right: auto;
  }
  .pull-sm-1 {
    right: 8.333333%;
  }
  .pull-sm-2 {
    right: 16.666667%;
  }
  .pull-sm-3 {
    right: 25%;
  }
  .pull-sm-4 {
    right: 33.333333%;
  }
  .pull-sm-5 {
    right: 41.666667%;
  }
  .pull-sm-6 {
    right: 50%;
  }
  .pull-sm-7 {
    right: 58.333333%;
  }
  .pull-sm-8 {
    right: 66.666667%;
  }
  .pull-sm-9 {
    right: 75%;
  }
  .pull-sm-10 {
    right: 83.333333%;
  }
  .pull-sm-11 {
    right: 91.666667%;
  }
  .pull-sm-12 {
    right: 100%;
  }
  .push-sm-0 {
    left: auto;
  }
  .push-sm-1 {
    left: 8.333333%;
  }
  .push-sm-2 {
    left: 16.666667%;
  }
  .push-sm-3 {
    left: 25%;
  }
  .push-sm-4 {
    left: 33.333333%;
  }
  .push-sm-5 {
    left: 41.666667%;
  }
  .push-sm-6 {
    left: 50%;
  }
  .push-sm-7 {
    left: 58.333333%;
  }
  .push-sm-8 {
    left: 66.666667%;
  }
  .push-sm-9 {
    left: 75%;
  }
  .push-sm-10 {
    left: 83.333333%;
  }
  .push-sm-11 {
    left: 91.666667%;
  }
  .push-sm-12 {
    left: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-md-0 {
    right: auto;
  }
  .pull-md-1 {
    right: 8.333333%;
  }
  .pull-md-2 {
    right: 16.666667%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .pull-md-4 {
    right: 33.333333%;
  }
  .pull-md-5 {
    right: 41.666667%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .pull-md-7 {
    right: 58.333333%;
  }
  .pull-md-8 {
    right: 66.666667%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .pull-md-10 {
    right: 83.333333%;
  }
  .pull-md-11 {
    right: 91.666667%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .push-md-0 {
    left: auto;
  }
  .push-md-1 {
    left: 8.333333%;
  }
  .push-md-2 {
    left: 16.666667%;
  }
  .push-md-3 {
    left: 25%;
  }
  .push-md-4 {
    left: 33.333333%;
  }
  .push-md-5 {
    left: 41.666667%;
  }
  .push-md-6 {
    left: 50%;
  }
  .push-md-7 {
    left: 58.333333%;
  }
  .push-md-8 {
    left: 66.666667%;
  }
  .push-md-9 {
    left: 75%;
  }
  .push-md-10 {
    left: 83.333333%;
  }
  .push-md-11 {
    left: 91.666667%;
  }
  .push-md-12 {
    left: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-lg-0 {
    right: auto;
  }
  .pull-lg-1 {
    right: 8.333333%;
  }
  .pull-lg-2 {
    right: 16.666667%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .pull-lg-4 {
    right: 33.333333%;
  }
  .pull-lg-5 {
    right: 41.666667%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .pull-lg-7 {
    right: 58.333333%;
  }
  .pull-lg-8 {
    right: 66.666667%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .pull-lg-10 {
    right: 83.333333%;
  }
  .pull-lg-11 {
    right: 91.666667%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .push-lg-0 {
    left: auto;
  }
  .push-lg-1 {
    left: 8.333333%;
  }
  .push-lg-2 {
    left: 16.666667%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .push-lg-4 {
    left: 33.333333%;
  }
  .push-lg-5 {
    left: 41.666667%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .push-lg-7 {
    left: 58.333333%;
  }
  .push-lg-8 {
    left: 66.666667%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .push-lg-10 {
    left: 83.333333%;
  }
  .push-lg-11 {
    left: 91.666667%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-xl-0 {
    right: auto;
  }
  .pull-xl-1 {
    right: 8.333333%;
  }
  .pull-xl-2 {
    right: 16.666667%;
  }
  .pull-xl-3 {
    right: 25%;
  }
  .pull-xl-4 {
    right: 33.333333%;
  }
  .pull-xl-5 {
    right: 41.666667%;
  }
  .pull-xl-6 {
    right: 50%;
  }
  .pull-xl-7 {
    right: 58.333333%;
  }
  .pull-xl-8 {
    right: 66.666667%;
  }
  .pull-xl-9 {
    right: 75%;
  }
  .pull-xl-10 {
    right: 83.333333%;
  }
  .pull-xl-11 {
    right: 91.666667%;
  }
  .pull-xl-12 {
    right: 100%;
  }
  .push-xl-0 {
    left: auto;
  }
  .push-xl-1 {
    left: 8.333333%;
  }
  .push-xl-2 {
    left: 16.666667%;
  }
  .push-xl-3 {
    left: 25%;
  }
  .push-xl-4 {
    left: 33.333333%;
  }
  .push-xl-5 {
    left: 41.666667%;
  }
  .push-xl-6 {
    left: 50%;
  }
  .push-xl-7 {
    left: 58.333333%;
  }
  .push-xl-8 {
    left: 66.666667%;
  }
  .push-xl-9 {
    left: 75%;
  }
  .push-xl-10 {
    left: 83.333333%;
  }
  .push-xl-11 {
    left: 91.666667%;
  }
  .push-xl-12 {
    left: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

/* ----- COLOURS ----- */
/* ----- FONT SIZES ----- */
body {
  font-size: 62.5%;
  line-height: 1;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  right: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

main {
  overflow: hidden;
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3A4D54;
  color: #FFFFFF;
}

section {
  padding: 0;
}

section.no-pad {
  padding: 0;
}

picture,
img {
  display: block;
}

picture img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

ul,
ol {
  font-size: 1.6em;
  line-height: 1.8;
}

img {
  max-width: 100%;
}

.social-accounts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-accounts li {
  display: inline-block;
}

address {
  font-style: normal;
  font-size: 1.6em;
  line-height: 1.8;
  margin: 40px 0;
}

address span {
  display: block;
}

address span[itemprop]:after,
address span[itemprop] span:after {
  content: ",";
}

address span[itemprop]:last-of-type:after,
address span[itemprop="streetAddress"]:after {
  content: "";
}

.phone-number > span {
  font-size: 1.5em;
}

.phone-number small {
  display: block;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

.common-faqs {
  padding: 50px 0;
  background: #edeef1;
}

input[type="text"],
input[type="search"] {
  padding: 9px;
  outline: none;
}

blockquote {
  margin: 40px 0;
  padding: 40px;
  background: #eeeeee;
}

blockquote q {
  font-size: 3.4em;
  line-height: 1.2;
}

@media (min-width: 767px) {
  blockquote q {
    font-size: 6em;
    line-height: 1.2;
  }
}

blockquote cite {
  font-size: 1.6em;
  line-height: 1.8;
  display: block;
  overflow: hidden;
  font-style: normal;
  margin: 20px 0 0 0;
}

blockquote cite span {
  display: block;
  float: left;
}

blockquote cite span:last-of-type:before {
  content: ", ";
}

blockquote .photo {
  width: 50px;
  border-radius: 50%;
  float: left;
  margin: 0 20px 0 0;
}

.latest-news {
  padding: 50px 0;
}

.profile {
  margin-bottom: 30px;
}

.profile .name {
  display: block;
  margin: 10px 0 0 0;
  font-size: 1.2em;
}

.typeahead {
  display: none;
  padding: 5px 0;
  border: 1px solid #e4e6ea;
  border-top-width: 0;
  background: #fff;
}

.typeahead li {
  display: block;
}

.typeahead a {
  display: block;
  padding: 10px 15px;
  color: #000;
}

.typeahead p {
  margin-bottom: 0;
}

.testimonial-listing blockquote {
  margin-bottom: 50px;
}

.upcoming-events {
  padding: 50px 0;
  background: #f5f6f9;
}

.awards {
  padding: 50px 0;
  background: #f5f6f9;
}

.card .date {
  display: block;
  font-weight: bold;
  margin: 20px 0;
}

.card a {
  display: block;
}

.card .image {
  margin-bottom: 20px;
}

#banner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightgrey-bg {
  background: #eeeeee;
}

.slick-slide blockquote {
  margin: 0;
}

.slick-arrow {
  position: absolute;
  font-size: 0;
  top: 50%;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: black;
}

.slick-next {
  right: -2%;
}

.slick-next:before {
  content: "";
  border-top: 1.5em solid currentColor;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  background: white;
}

.slick-prev {
  left: -2%;
}

.slick-prev:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
}

.slick-next:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.slick-dots {
  text-align: center;
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  border-radius: 200px;
  height: 15px;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  padding: 0 7px;
}

.slick-dots li.slick-active button {
  background: black;
}

.pagination {
  text-align: center;
  margin: 80px 0 20px 0;
}

.pagingation li a,
.pagingation li span {
  padding: 10px;
}

.white-copy h1,
.white-copy h2,
.white-copy h3,
.white-copy p {
  color: #fff;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

[class^="ratio-"],
[class*=" ratio-"] {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background: rgba(140, 144, 163, 0.25);
}

[class^="ratio-"]:before,
[class*=" ratio-"]:before {
  display: block;
  content: "";
}

[class^="ratio-"] > div,
[class*=" ratio-"] > div,
[class^="ratio-"] > picture,
[class*=" ratio-"] > picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Aspect ratios */
.ratio-16by9:before {
  padding-top: 56.25%;
}

.ratio-3by2:before {
  padding-top: 66.66667%;
}

.ratio-3by1:before {
  padding-top: 33.33333%;
}

.ratio-1by1:before {
  padding-top: 100%;
}

.ratio-5by2:before {
  padding-top: 40%;
}

.ratio-5by4:before {
  padding-top: 80%;
}

@media (min-width: 576px) {
  .ratio-sm-16by9:before {
    padding-top: 56.25%;
  }
  .ratio-sm-3by2:before {
    padding-top: 66.66667%;
  }
  .ratio-sm-3by1:before {
    padding-top: 33.33333%;
  }
  .ratio-sm-1by1:before {
    padding-top: 100%;
  }
}

@media (min-width: 768px) {
  .ratio-md-16by9:before {
    padding-top: 56.25%;
  }
  .ratio-md-3by2:before {
    padding-top: 66.66667%;
  }
  .ratio-md-3by1:before {
    padding-top: 33.33333%;
  }
  .ratio-md-1by1:before {
    padding-top: 100%;
  }
  .ratio-md-2by3:before {
    padding-top: 150%;
  }
}

@media (min-width: 992px) {
  .ratio-lg-16by9:before {
    padding-top: 56.25%;
  }
  .ratio-lg-3by2:before {
    padding-top: 66.66667%;
  }
  .ratio-lg-3by1:before {
    padding-top: 33.33333%;
  }
  .ratio-lg-1by1:before {
    padding-top: 100%;
  }
  .ratio-lg-5by4:before {
    padding-top: 80%;
  }
}

@media (min-width: 1200px) {
  .ratio-xl-16by9:before {
    padding-top: 56.25%;
  }
  .ratio-xl-3by2:before {
    padding-top: 66.66667%;
  }
  .ratio-xl-3by1:before {
    padding-top: 33.33333%;
  }
  .ratio-xl-1by1:before {
    padding-top: 100%;
  }
  .ratio-xl-1by2:before {
    padding-top: 200%;
  }
  .ratio-xl-5by2:before {
    padding-top: 40%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  float: none;
  line-height: 1.4;
  clear: both;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 10px 0;
}

h1,
.title.x-large {
  font-size: 3.8em;
  line-height: 1.1;
  margin-top: 0;
}

@media (min-width: 767px) {
  h1,
  .title.x-large {
    font-size: 6em;
    line-height: 1.1;
  }
}

h2,
h3,
title.large,
h4,
h5,
.title {
  font-size: 3.4em;
  line-height: 1.2;
}

@media (min-width: 767px) {
  h2,
  h3,
  title.large,
  h4,
  h5,
  .title {
    font-size: 6em;
    line-height: 1.2;
  }
}

h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
}

p {
  margin: 0 0 30px 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.8;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("/Fonts/icomoon.eot?n0andj");
  src: url("/Fonts/icomoon.eot?n0andj#iefix") format("embedded-opentype"), url("/Fonts/icomoon.woff2?n0andj") format("woff2"), url("/Fonts/icomoon.ttf?n0andj") format("truetype"), url("/Fonts/icomoon.woff?n0andj") format("woff"), url("/Fonts/icomoon.svg?n0andj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-menu:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e903";
}

.icon-plus:before {
  content: "\e904";
}

header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

header .logo {
  float: left;
  display: block;
  width: 220px;
}

header .btn {
  float: right;
  display: none;
}

@media (min-width: 767px) {
  header .btn {
    display: block;
  }
}

.tns-outer {
  padding: 0 !important;
}

.tns-outer [hidden] {
  display: none !important;
}

.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer;
}

.tns-slider {
  -webkit-transition: all 0s;
  transition: all 0s;
}

.tns-slider > .tns-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  -webkit-transition: transform 0s, opacity 0s;
  -webkit-transition: opacity 0s, -webkit-transform 0s;
  transition: opacity 0s, -webkit-transform 0s;
  transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s, -webkit-transform 0s;
}

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}

.tns-gallery > .tns-moving {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
}

.tns-lazy-img.tns-complete {
  opacity: 1;
}

.tns-ah {
  -webkit-transition: height 0s;
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.tns-vpfix {
  white-space: nowrap;
}

.tns-vpfix > div, .tns-vpfix > li {
  display: inline-block;
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}

.tns-t-ct {
  width: 2333.33333%;
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0;
}

.tns-t-ct:after {
  content: '';
  display: table;
  clear: both;
}

.tns-t-ct > div {
  width: 1.42857%;
  width: calc(100% / 70);
  height: 10px;
  float: left;
}

#gallery {
  position: relative;
  text-align: left;
  height: auto;
  min-height: 300px;
  display: block;
  background: #324248;
}

@media (min-width: 767px) {
  #gallery {
    height: 100vh;
    min-height: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#gallery .tns-item {
  position: relative;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 767px) {
  #gallery .tns-slide-active.tns-item:before {
    content: "";
    position: absolute;
    bottom: -24%;
    left: -37%;
    width: 133%;
    height: 50%;
    display: block;
    background-size: cover;
    z-index: 1;
    -webkit-transition: 0.65s all ease;
    transition: 0.65s all ease;
    -webkit-transform: rotate(35deg) scale(1.1);
            transform: rotate(35deg) scale(1.1);
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.2) 4px, rgba(0, 0, 0, 0.2) 8px);
  }
}

#gallery .tns-item:before {
  -webkit-transform: rotate(35deg) scale(1);
          transform: rotate(35deg) scale(1);
}

#gallery img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  #gallery img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform: none;
            transform: none;
  }
}

#gallery .dim {
  position: relative;
  width: 100%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (min-width: 767px) {
  #gallery .dim {
    height: 100vh;
  }
}

#gallery .tns-slide-active .dim {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#gallery .slide-caption h4 {
  left: 30px;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#gallery .slide-caption h4 span {
  font-size: 0.5em;
  display: block;
  margin-top: 10px;
}

#gallery .tns-slide-active .slide-caption h4 {
  left: 0;
  opacity: 1;
}

#gallery .slide-caption p {
  left: 30px;
  opacity: 0;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#gallery .tns-slide-active .slide-caption p {
  left: 0;
  opacity: 1;
}

#gallery .dim:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

@media (max-width: 767px) {
  #gallery .dim:after {
    content: "";
    position: relative;
    display: block;
    padding-bottom: 100%;
  }
}

#gallery .slide-caption {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  padding: 40px 10% 60px 10%;
  background: #324248;
}

@media (min-width: 767px) {
  #gallery .slide-caption {
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 85%;
    z-index: 6;
    max-width: 650px;
    padding: 0;
    background: none;
  }
}

@media (min-width: 990px) {
  #gallery .slide-caption {
    width: 60%;
  }
}

.tns-controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  display: none;
}

.tns-controls button {
  background: black;
  width: 10px;
  height: 10px;
  display: block;
}

.tns-controls button[data-controls="prev"] {
  left: 0;
}

.tns-controls button[data-controls="next"] {
  left: 0;
}

#gallery .no-text.tns-item:before {
  display: none;
}

.tns-outer button[data-action="stop"],
.tns-outer button[data-action="start"] {
  display: none;
}

.tns-nav {
  position: absolute;
  top: 53%;
  float: right;
  z-index: 10;
  left: 9%;
}

@media (min-width: 767px) {
  .tns-nav {
    right: 30px;
    left: auto;
    bottom: 5%;
    top: auto;
  }
}

.tns-nav button {
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  margin: 0 7px;
  min-width: 10px;
}

.tns-nav button.tns-nav-active {
  background: #FFFFFF;
}

.logos {
  background: #AAB6C2;
  color: #3F3F3F;
  padding: 10px 0;
}

.logos img {
  height: 55px;
  display: block;
}

@media (min-width: 767px) {
  .logos img {
    height: 60px;
    display: inline-block;
    margin-top: 10px;
  }
}

.logos ul {
  display: block;
  padding-left: 0;
}

@media (min-width: 1500px) {
  .logos ul {
    padding-left: 15px;
    font-size: 1.6em;
    display: inline-block;
  }
}

.logos li {
  list-style-type: none;
  line-height: 1.6;
}

.logos li a {
  color: #000000;
}

.logos .container-fluid {
  padding: 0 10%;
}

@media (min-width: 1024px) {
  .logos .container-fluid {
    padding: 0 5%;
  }
}

@media (min-width: 767px) {
  .logos .container-fluid {
    padding: 0 10%;
  }
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 767px) {
  #content h1 {
    margin-top: 55px;
  }
}

#content .inner {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 60px 10%;
}

@media (min-width: 767px) {
  #content .inner {
    padding: 0 10%;
  }
}

#content .inner:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  opacity: 0.18;
  background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 5px, rgba(255, 255, 255, 0.2) 2px, rgba(255, 255, 255, 0.2) 0px);
}

form > div {
  position: relative;
}

form input[type=text],
form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  background: none;
  font-size: 16px;
  position: relative;
  z-index: 2;
  padding: 9px 0;
  color: #FFFFFF;
}

/*
form .col-md-6 input[type=text] {
    width: 90%;
}
*/
form input + label,
form textarea + label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.6em;
  line-height: 1.8;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form input:focus + label,
form input.active + label,
form textarea:focus + label,
form textarea.active + label {
  top: 0;
  font-size: 1.2em;
  color: #FFEA49;
}

form input[type="text"],
form textarea {
  margin-top: 15px;
}

form button svg {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

form button.loading svg {
  opacity: 1;
  visibility: visible;
}

form button.loading {
  padding-right: 50px;
}

#form-messages {
  color: #FFF;
  margin: 20px 0;
  background: #28363b;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.6em;
}

#form-messages.failure,
#form-messages.success {
  max-height: 1000px;
}

#form-messages.failure {
  border: 1px solid red;
}

#form-messages.success {
  border: 1px solid green;
}

#form-messages .inner {
  padding: 1rem;
}

@media screen and (max-height: 800px) and (min-width: 767px) {
  #content .inner {
    padding: 160px 10% 80px 10%;
    display: block;
  }
  #content {
    display: block;
  }
  main {
    min-height: 800px;
  }
  #gallery .dim,
  #gallery-iw,
  #gallery-mw,
  .tns-outer,
  #gallery {
    height: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */